<h2>List of songs</h2>

<div class="grid">
  <% @songs.each do |song| %>
    <div>
      <%= link_to song.title, song_path(song) %>
      <div>
        <% if song.cover.attached? %>
          <%= image_tag song.cover.variant(resize: "300x200") %>
        <% end %>
      </div>
      <div class="text-center icons">
        <div class="<%= song.like?(current_user) ? 'active' : '' %>">
          <%= link_to rating_song_path(song, :rating => 1), method: :post do %>
            <%= render 'svg/thumbs-up.svg' %>
            <span> <%= song.ratings.where(value: 1).size %> </span>
          <% end %>
        </div>
        <div class="<%= song.unlike?(current_user) ? 'active' : '' %>">
          <%= link_to rating_song_path(song, :rating => -1), method: :post do %>
            <%= render 'svg/thumbs-down.svg' %>
            <span> <%=  song.ratings.where(value: -1).size %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
