<h2>List of albums</h2>

<div class="grid">
  <% @albums.each do |album| %>
    <div>
      <%= link_to album.title, album_path(album) %>
      <div>
        <% if album.cover.attached? %>
          <%= image_tag album.cover.variant(resize: "300x200") %>
        <% end %>
      </div>
      <div class="text-center icons">
        <div class="<%= album.like?(current_user) ? 'active' : '' %>">
          <%= link_to rating_album_path(album, :rating => 1), method: :post do %>
            <%= render 'svg/thumbs-up.svg' %>
            <span> <%= album.ratings.where(value: 1).size %> </span>
          <% end %>
        </div>
        <div class="<%= album.unlike?(current_user) ? 'active' : '' %>">
          <%= link_to rating_album_path(album, :rating => -1), method: :post do %>
            <%= render 'svg/thumbs-down.svg' %>
            <span> <%=  album.ratings.where(value: -1).size %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
